body{
    background-color: #ECBD82;
    font-family: 'Anton', sans-serif;
}

#encabezado{
    background-image: url("../img/banner\ \(2\).jpg") ;
    text-align:center;
    font-family: 'Anton', sans-serif;
  }
  
  h1{
      font-size: 40px;
      background-color: #c4c4c4;
  }

  li{
      font-size: 20px;
      background-color: #c4c4c4;
      font-weight: 200;
  }

  footer{
    background-color: #000000;
    text-align: center;
    color: #C4C4C4;
    font-weight: bold;
    font-size: 25px;
}