

body{
  background-color: #ECBD82;
  font-family: 'Anton', sans-serif;
  

}

#encabezado{
  background-image: url(../img/banner2.jpg) ;
  text-align:center;
  font-family: 'Anton', sans-serif;
  line-height: 0px;
}

.sobreMi{
  
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  
}


.center {
    display: block;
    margin: auto;
  }
  h1{
    
    color: #000000;
    text-align: center;
    background-color: #C4C4C4;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
  }
  .estilo-h3{
    color: #000000;
    background-color: #C4C4C4;
    font-weight: bold;
    font-size: 25px;
  }

    footer{
      background-color: #000000;
      text-align: center;
      color: #C4C4C4;
      font-weight: bold;
      font-size: 25px;
  }
