.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    color: #005677;
    text-align: center;
    font-family:'Times New Roman';
    background-color: #C4C4C4;
    font-style: normal;
    font-weight: bold;
  }
  .estilo-h3{
    color: #005677;
    background-color: #C4C4C4;
    font-weight: bold;
  }

  #pie-pagina{
      background-color: #005677;
      text-align: center;
      color: white;
      font-weight: bold;
  }

  